---
---

<section>
  <h2 data-i18n="social_proof_title">Early Partners</h2>
  <p data-i18n="social_proof_text">In talks with maintainers of projects totaling 50k+ stars.</p>
  <p data-i18n="social_proof_cta">Maintain a project with 1000+ stars? You get priority. Get in touch.</p>
</section>
